<div ng-controller="PatientListController as patientList">

  <h3>{{patientList.currentPatient.name}}</h3>

  <div ng-repeat="chart in patientList.currentPatient.charts">
    <h4>{{chart.name}}</h4>
    <canvas id="line" class="chart chart-line" chart-data="chart.data"
      chart-labels="chart.labels" chart-legend="true" chart-series="chart.series"
      chart-click="onClick" >
    </canvas> 
  </div>
</div>

