

<!doctype html>

<html lang="de" ng-app="patientApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Patienten&uuml;bersicht</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Java Script Files-->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/Chart.js/Chart.min.js"></script>
    <script src="../bower_components/angular-chart.js/dist/angular-chart.js"></script>
    

    <script src="app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="../bower_components/angular-chart.js/dist/angular-chart.css">
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <a href="javascript:history.go(-1);">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
           <i class="material-icons">keyboard_arrow_left</i>
          </button>
          </a>
          <span class="mdl-layout-title">Patienten&uuml;bersicht</span>
          <div class="mdl-layout-spacer"></div>
          <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search" ng-model="patientList.search">
              <label class="mdl-textfield__label" for="search">Nach Name suchen...</label>
            </div>
          </div> -->
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item" id="info-item">Info</li>
          </ul>
        </div>
      </header>
     
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
          <div ng-view style="width:100%"></div>



          </div>
        </div>
      </main>
    </div>

    <div id="toast-container" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
 
     <script>
    (function() {
      'use strict';
      var snackbarContainer = document.querySelector('#toast-container');
      var showToastButton = document.querySelector('#info-item');
      showToastButton.addEventListener('click', function() {
        'use strict';
        var data = {message: 'Latido Patienten Case / Benjamin Nussbaum 2016'};
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
      });
    }());
    </script>

    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
   
  </body>
</html>