<div ng-controller="PatientListController as patientList">
  <table class="mdl-data-table mdl-js-data-table" style="width:100%; border:none;">
    <thead>
      <tr><th></th><th></th><th></th><th>letzte Messung</th></tr>
      <tr>
        <th><label/></th>
        <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-descending">Patient</th>
        <th>K&ouml;rperoberfl&auml;che (m&sup2;)</th>
        <th>Blutdruck (Systolisch / Diastolisch)</th>
        <th>Cholesterin (mg/dl)</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="patient in patientList.patients | filter:patientList.search | orderBy:'+text'" ng-click="">
        <td><label><i class="material-icons mdl-list__item-icon">person</i></label></td>
        <td class="mdl-data-table__cell--non-numeric"><a ng-href="#/details/{{patient.id}}">{{patient.name}}</a></td>
        <td>{{patient.lastMeasurements[0]}}</td>
        <td>{{patient.lastMeasurements[1]}}</td>
        <td>{{patient.lastMeasurements[2]}}</td>
      </tr>
    </tbody>
  </table>
</div>

